.git
__pycache__/
*.pyc
venv/
tests/

Homework/hw2_calibration/static/calib_uploads/*
Homework/hw2_calibration/static/object_uploads/*
Homework/hw2_calibration/static/results/*
Homework/hw3_fourier_blur/static/uploads/*
Homework/hw3_fourier_blur/static/outputs/*
Homework/hw4_silhouette/static/rgb_uploads/*
Homework/hw4_silhouette/static/thermal_uploads/*
Homework/hw4_silhouette/static/sam2_uploads/*
Homework/hw4_silhouette/static/outputs/*
Homework/hw5_motion_sfm/static/video_uploads/*
Homework/hw5_motion_sfm/static/sfm_uploads/*
Homework/hw5_motion_sfm/static/outputs/*
!Homework/**/static/**/.gitkeep
